<app>
    <p>{ props.message }</p>

    <script type="ts">
        import {AppComponent} from './types.ts'

        function App(): AppComponent {
            return {
                state: {
                    number: null
                }
            }
        }

        export default App
  </script>
</app>